schematron/check-formatting/check-formatting.sch.xml

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://purl.oclc.org/dsdl/schematron"
  queryBinding="xslt2" 
  xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:css="http://www.w3.org/1996/css"
  xmlns:dbk="http://docbook.org/ns/docbook"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  xmlns:hub="http://transpect.io/hub"
  xmlns:tr="http://transpect.io">
  
  <ns prefix="css" uri="http://www.w3.org/1996/css"/>
  <ns prefix="dbk" uri="http://docbook.org/ns/docbook"/>
  <ns prefix="xlink" uri="http://www.w3.org/1999/xlink"/>
  <ns prefix="hub" uri="http://transpect.io/hub"/>
  <ns prefix="tr" uri="http://transpect.io"/>
  
  <xsl:import href="http://customer.le-tex.de/adaptions/xsl/shared-variables.xsl"/>
  <xsl:import href="http://transpect.io/xslt-util/num/xsl/num.xsl"/>
  
  <pattern id="headings">
    <rule context="dbk:para[some $regex in $hub:hierarchy-role-regexes-x 
                            satisfies matches(@role, $regex)]">
      <let name="style-name" value="@role"/>
      <assert test="not(preceding-sibling::*[1][self::dbk:para[@role = $style-name]])" id="heading-level" role="error" diagnostics="heading-level_de">
        <span class="issue" xmlns="http://www.w3.org/1999/xhtml">Heading Level</span>
        The previous paragraph is a heading and uses the same style as this paragraph. If you want this paragraph to be part 
        of the previous heading, please separate the heading parts with a soft return. Headings need to be followed by a 
        heading with a lower hierarchy level or regular content.
      </assert>
    </rule>
  </pattern>
  
  <pattern id="figures">
    <rule context="dbk:para[matches(@role, $figure-image-role-regex, 'i')]">
      <assert test=".//dbk:mediaobject or normalize-space(replace(., concat($pi-mark, '[a-z]+'), '', 'i'))" role="error" id="figure-references" diagnostics="figure-references_de">
        This paragraph has been formatted with the figure style but contains no embedded image or figure reference. If you use processing instructions, 
        please include them in the paragraph of the picture rather than inserting a new paragraph below.
      </assert>
    </rule>
    <rule context="dbk:para[matches(@role, $figure-caption-role-regex)]">
      <assert test="not(.//dbk:mediaobject)" role="warning" id="image-in-caption" diagnostics="image-in-caption_de">
        This paragraph has been formatted with the figure caption style but includes an image. Please verify whether the image belongs to the caption or to the figure. 
        For the latter, please ensure that the image is placed in a paragraph above the caption and formatted with the figure style (regex: <value-of select="$figure-image-role-regex"/>).
      </assert>
      <assert test="preceding-sibling::*[1][self::dbk:para][matches(@role, $figure-image-role-regex, 'i')]" role="error" id="isolated-figure-caption" diagnostics="isolated-figure-caption_de">
        This paragraph has been formatted with the figure caption style but the paragraph above has the style: '<value-of select="preceding-sibling::*[1]/@role"/>'.
      </assert>
    </rule>
    <rule context="dbk:para[matches(@role, $figure-source-role-regex)]">
      <assert test="not(preceding-sibling::*[position() = (1,2)][self::dbk:para][matches(@role, $figure-source-role-regex)])" role="error" id="isolated-figure-source" diagnostics="isolated-figure-source_de">
        This paragraph has been formatted with the figure source style but it's not placed under an image or its caption.
      </assert>
    </rule>
  </pattern>
  
  <pattern id="tables">
    <rule context="dbk:para[matches(@role, $hub:table-rotated-role-regex)]">
      <assert test="not(following-sibling::*[position() = (1,2)][self::dbk:informaltable])" id="table-rotated-regex" diagnostics="table-rotated-regex_de">
        This paragraph formatted has been formatted with the style '<value-of select="$hub:table-rotated-role-regex"/>' but the paragraph is not placed over the table.
      </assert>
    </rule>
    <rule context="dbk:para[matches(@role, $table-caption-role-regex)]">
      <assert test="not(following-sibling::*[1][self::dbk:informaltable])" role="error" id="isolated-table-caption" diagnostics="isolated-table-caption_de">
        This paragraph has been formatted with the table caption style but it is not placed above the table.
      </assert>
    </rule>
    <rule context="dbk:para[matches(@role, $table-source-role-regex)]">
      <assert test="not(preceding-sibling::*[1][self::dbk:informaltable])" role="error" id="isolated-table-source" diagnostics="isolated-table-source_de">
        This paragraph has been formatted with the table source style but it is not placed below the table.
      </assert>
    </rule>
    <rule context="dbk:para[matches(@role, $table-header-style-regex)]">
      <assert test="not(parent::*[1][self::dbk:entry])" role="error" id="table-header-outside-table" diagnostics="table-header-outside-table_de">
        This paragraph has been formatted with the table header style but it is not placed inside a table entry. Use this style for header cells.
      </assert>
    </rule>
  </pattern>
  
  <pattern id="unusual">
    <rule context="dbk:*[@css:display]">
      <assert test="not(@css:display eq 'none')" role="warning" id="hidden-text" diagnostics="hidden-text_de">
        <span class="issue" xmlns="http://www.w3.org/1999/xhtml">Hidden text</span>
        This text is marked as hidden and will most likely not appear in the output: "<value-of select="."/>"</assert>
    </rule>
  </pattern>
  
  <pattern id="nbsp-limit" is-a="char-limit_abstract-pattern">
    <param name="context" value="dbk:para"/>                           <!-- XSL matching pattern -->
    <param name="char-limit" value="10"/>                              <!-- xs:integer -->
    <param name="char-list" value="&#xa0; &#x2007; &#x202f; &#xfeff;"/><!-- whitespace-separated list -->
    <param name="class" value="non-breaking whitespace"/>              <!-- xs:string -->
  </pattern>
  
  <pattern abstract="true" id="char-limit_abstract-pattern">
    <rule context="$context">
      <let name="this" value="."/>
      <assert test="count(
                      (
                       for $char in string-to-codepoints(.) 
                       return codepoints-to-string($char)
                      )[. = tokenize('$char-list')]
                    ) &lt;= $char-limit" id="special-character" role="warning">
        There are more than <value-of select="concat($char-limit, ' ', tokenize('$class')[1])"/> characters of 
        a specific type (U+<value-of select="string-join(
                                               for $dec in 
                                                 for $char in string-to-codepoints('$char-list')[. != 32]
                                                 return $char[. = string-to-codepoints($this)]
                                               return tr:dec-to-hex($dec),
                                               ', U+' 
                                             )"/>) 
        which could cause rendering issues in this context (<value-of select="name()"/>). 
      </assert>
    </rule>
  </pattern>
  
  <diagnostics>
    <diagnostic id="figure-references_de" xml:lang="de">
      Dieser Absatz ist mit einem Absatzformat für Bilder ausgzeichnet, aber es gibt weder ein eingebettetes Bild noch eine Bildreferenz.
      Falls eine Processing-Instruction verwendet werden soll, sollte diese im Absatz des Bildes bzw. der Bildreferenz stehen, statt in einem folgenden Absatz
    </diagnostic>
    <diagnostic id="image-in-caption_de" xml:lang="de">
      Dieser Absatz ist mit dem Absatzformat für Bild-Titel bzw. -Legende ausgezeichnet, enthält aber ein Bild. Bitte prüfen Sie, ob das Bild in die Legende gehört oder 
      besser mit einem passenden Bild-Absatzformat (regex: <value-of select="$figure-image-role-regex"/>) im Absatz über der Legende auszuzeichnen ist.
    </diagnostic>
    <diagnostic id="isolated-figure-caption_de" xml:lang="de">
      Dieser Absatz ist als Bild-Legende ausgezeichnet, aber der Absatz darüber ist mit dem das Absatzformat '<value-of select="preceding-sibling::*[1]/@role"/>' ausgezeichnet.
      Bitte beachten Sie die korrekte Reihenfolge der Absatzformate für Bild, Legende und Quelle.
    </diagnostic>
    <diagnostic id="isolated-figure-source_de" xml:lang="de">
      Dieser Absatz ist als Bild-Quelle ausgezeichnet, aber ist nicht unterhalb eines Bilder bzw. einer Bild-Legende platziert.
      Bitte beachten Sie die korrekte Reihenfolge der Absatzformate für Bild, Legende und Quelle.
    </diagnostic>
    <diagnostic id="table-rotated-regex_de" xml:lang="de">
      Dieser Absatz ist mit dem Absatzformat für eine gedrehte Tabelle ausgezeichnet, ist aber nicht über einer Tabelle platziert. 
    </diagnostic>
    <diagnostic id="isolated-table-caption_de" xml:lang="de">
      Dieser Absatz ist als Tabellen-Legende ausgezeichnet, aber der Absatz darüber ist nicht über einer Tabelle platziert.
      Bitte beachten Sie die korrekte Reihenfolge der Absatzformate für Tabelle, Legende und Quelle.
    </diagnostic>
    <diagnostic id="isolated-table-source_de" xml:lang="de">
      Dieser Absatz ist als Tabelle-Quelle ausgezeichnet, aber ist nicht unterhalb eines Bilder bzw. einer Bild-Legende platziert.
      Bitte beachten Sie die korrekte Reihenfolge der Absatzformate für Tabelle, Legende und Quelle.
    </diagnostic>
    <diagnostic id="table-header-outside-table_de" xml:lang="de">
      Dieser Absatz ist als Tabellen-Kopf ausgezeichnet, aber ist nicht in einer Zelle platziert.
      Bitte verwenden Sie dieses Format für die Auszeichnung des Tabellenkopfes, nicht als Tabellentitel über der Tabelle.
    </diagnostic>
    <diagnostic id="hidden-text_de" xml:lang="de">
      <span class="issue" xmlns="http://www.w3.org/1999/xhtml">Versteckter Text</span>
      Dieser Text wurde als versteckt ausgezeichnet und wird höchstwahrscheinlich nicht in der Ausgabe erscheinen: "<value-of select="."/>"
    </diagnostic>
    <diagnostic id="heading-level_de" xml:lang="de">
      <span class="issue" xmlns="http://www.w3.org/1999/xhtml">Überschriften-Hierarchie</span>
      Der vorherige Absatz ist eine Überschrift und verwendet dieselbe Formatvorlage wie dieser Absatz. Wenn dieser Absatz Teil 
      der vorherigen Überschrift ist, trennen Sie bitte Teile mit einem Zeilenumbruch statt einem Absatzwechsel. Überschriften 
      darf nur eine Überschrift mit einer niedrigeren Hierarchieebene oder regulärer Inhalt folgen.
    </diagnostic>
  </diagnostics>

</schema>
