schematron/check-formatting/check-formatting.sch.xml

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://purl.oclc.org/dsdl/schematron"
  queryBinding="xslt2" 
  xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:css="http://www.w3.org/1996/css"
  xmlns:dbk="http://docbook.org/ns/docbook"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  xmlns:hub="http://transpect.io/hub"
  xmlns:tr="http://transpect.io">
  
  <ns prefix="css" uri="http://www.w3.org/1996/css"/>
  <ns prefix="dbk" uri="http://docbook.org/ns/docbook"/>
  <ns prefix="xlink" uri="http://www.w3.org/1999/xlink"/>
  <ns prefix="hub" uri="http://transpect.io/hub"/>
  <ns prefix="tr" uri="http://transpect.io"/>
  
  <xsl:import href="http://customer.le-tex.de/adaptions/xsl/shared-variables.xsl"/>
  
  <pattern id="figures">
    <rule context="dbk:para[matches(@role, $figure-image-role-regex)]">
      <assert test=".//dbk:mediaobject or normalize-space(replace(., concat($pi-mark, '[a-z]+'), '', 'i'))" role="error" id="figure-references">
        This paragraph has been formatted with the figure style but contains no embedded image or figure reference. If you use processing instructions, 
        please include them in the paragraph of the picture rather than inserting a new paragraph below.
      </assert>
    </rule>
    <rule context="dbk:para[matches(@role, $figure-caption-role-regex)]">
      <assert test="not(.//dbk:mediaobject)" role="warning" id="image-in-caption">
        This paragraph has been formatted with the figure caption style but includes an image. Please verify whether the image belongs to the caption or to the figure. 
        For the latter, please ensure that the image is placed in a paragraph above the caption and formatted with the figure style (regex: <value-of select="$figure-image-role-regex"/>).
      </assert>
      <assert test="not(preceding-sibling::*[1][self::dbk:para][matches(@role, $figure-image-role-regex)])" role="error" id="isolated-figure-caption">
        This paragraph has been formatted with the figure caption style but the paragraph above has the style: '<value-of select="preceding-sibling::*[1]/@role"/>'.
      </assert>
    </rule>
    <rule context="dbk:para[matches(@role, $figure-source-role-regex)]">
      <assert test="not(preceding-sibling::*[position() = (1,2)][self::dbk:para][matches(@role, $figure-source-role-regex)])" role="error" id="isolated-figure-source">
        This paragraph has been formatted with the figure source style but it's not placed under an image or its caption.
      </assert>
    </rule>
  </pattern>
  
  <pattern id="tables">
    <rule context="dbk:para[matches(@role, $hub:table-rotated-role-regex)]">
      <assert test="not(following-sibling::*[position() = (1,2)][self::dbk:informaltable])" id="table-rotated-regex">
        This paragraph formatted has been formatted with the style '<value-of select="$hub:table-rotated-role-regex"/>' but the paragraph is not placed over the table.
      </assert>
    </rule>
    <rule context="dbk:para[matches(@role, $table-caption-role-regex)]">
      <assert test="not(following-sibling::*[1][self::dbk:informaltable])" role="error" id="isolated-table-caption">
        This paragraph has been formatted with the table caption style but it is not placed above the table.
      </assert>
    </rule>
    <rule context="dbk:para[matches(@role, $table-source-role-regex)]">
      <assert test="not(preceding-sibling::*[1][self::dbk:informaltable])" role="error" id="isolated-table-source">
        This paragraph has been formatted with the table source style but it is not placed below the table.
      </assert>
    </rule>
  </pattern>

</schema>
